@use './mixins/config.scss' as *;
@use './common/var.scss' as *;
@use './mixins/mixins.scss' as *;
@use './mixins/button' as *;

@include b(button) {
  display: inline-block;
  line-height: 1;
  min-height: 40px;
  min-width: 100px;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  padding: 0 15px;
  margin-left: 10px;
  margin-bottom: 10px;
  background: $color-white;
  vertical-align: middle;
  border: 1px solid $color-black;
  color: $color-black;
  border-radius: 5px;
  &:hover,
  &focus {
    color: $color-primary;
    border-color: $color-primary;
    opacity: 0.6;
  }

  // 修饰符
  @include m(primary) {
    @include button-variant($color-white, $color-primary, $color-primary);
  }
  @include m(success) {
    @include button-variant($color-white, $color-success, $color-success);
  }
  @include m(warning) {
    @include button-variant($color-white, $color-warning, $color-warning);
  }
  @include m(danger) {
    @include button-variant($color-white, $color-danger, $color-danger);
  }
  @include m(info) {
    @include button-variant($color-white, $color-info, $color-info);
  }
}
